# Dependências do Node (Pesado, não enviar)
node_modules/

# Banco de dados local (O sistema cria um novo ao rodar)
database.sqlite

# Arquivos de log e sistema
*.log
.DS_Store
dist/
coverage/

# Variáveis de ambiente (Segurança)
.env